* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("asset/DUARR.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: auto;
    background-color: #776d8a;
    overflow: auto;
}

nav {
    background-color: #ffc7c7;
    width: 100%;
    overflow: auto;
}
nav a {
    width: 120px;
    display: inline-block;
    text-align: center;
    font-size: 17px;
    color: black;
    padding: 20px 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover {
    background-color: #132743;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

li {
    float: left;
}

.logo img {
    width: 60px;
    margin-left: 85px;
    float: left;
}

.gallery {
    margin: 5px;
    border: 1px solid black;
    float: left;
    width: 390px;
}
.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    padding: 15px;
    text-align: justify;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

footer {
    padding: 20px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #132743;
    color: white;
    letter-spacing: 1px;
    text-align: center;
}


/* media queries for responsive design */

@media screen and (max-width: 769px) {
    .gallery {
        max-width: 100%;
        height: auto;
        text-align: justify;
    }
}

@media screen and (max-width: 400px) {
    .gallery {
        padding: 1vw;
        margin: none;
    }
    .desc {
        font-size: 1rem;
    }
}