* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1170px;
    margin: auto;
}

header {
    background-image: url("asset/pbio.gif");
    height: 100vh;
    background-size: cover;
    background-position:center center;
    position: relative;
    overflow: hidden;
}

.logo img {
    width: 100px;
    margin-left: -95px;
    float: left;
    height: auto;
}

.welcometext {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    width: 700px;
    height: 300px;
    margin: 20% 30%;
}
.welcometext h1 {
    text-transform: uppercase;
    text-align: center;
    color: #fbe2e5;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.welcometext h2 {
    text-transform: uppercase;
    color: #fbe2e5;
    font-size: 30px;
}
.welcometext a {
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 20px;
    display: inline-block;
    color: blanchedalmond;
    font-weight: bold;
}
.welcometext a:hover {
    background: #fabea7;
    color: black;
}

nav {
    float: right;
    line-height: 100px;
}
nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 0 20px;
    padding-right: 40px;
}
nav a:hover {
    background-color: #fabea7;
    color: black;
    padding: 10px;
}

/* media queries for responsive design */

@media screen and (max-width: 769px) {
    .welcometext {
        text-align: center;
        position: relative;
        margin: 40% 50%;
        width: 400px;
        max-width: 700px;
    }
    .logo {
        padding: 35px;
        margin: 55%;
    }
}

@media screen and (max-width: 400px) {
    .welcometext {
        font-size: 0.5rem;
        max-width: 30%;
        height: 50%;
        font-size: small;
    }
    .welcometext h1 {
        font-size: 50px;
    }
    nav {
        display: block;
    }
    header {
        background-size: inherit;
    }
    .logo {
        height: 50%;
        margin: 55px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 1248px) {
    header {
        box-sizing: border-box;
    }
    .welcometext {
        text-align: center;
        padding-right: 100px;
        margin: 40% 25%;
        position: relative;
        margin-top: 20%;
        height: max-content;
    }
    .logo {
        padding: 15px;
        margin: 55px;
    }
    nav {
        margin-top: -64px;
    }
}