* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url("asset/bokjoo.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.navbar img {
    width: 70px;
    padding: 40px;
    padding-bottom: 30px;
    float: left;
    height: auto;
}

nav {
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
nav ul li a:hover {
    background: #fabea7;
    color: black;
    padding: 10px;
}

.row {
    display: flex;
    height: 88%;
    align-items: center;
}

.col {
    flex-basis: 50%;
}

h1 {
    color: white;
    font-size: 50px;
}

p {
    color: white;
    font-size: 15px;
}

h5 {
    color: black;
    font-size: 15px;
    text-shadow: 0 0 10px #999;
}

.card {
    width: 240px;
    height: auto;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 30px;
    background-position: center;
    background-size: cover;
}
.card1 {
    background-image: url("asset/reply1988.jpg");
}
.card2 {
    background-image: url("asset/goblin.jpg");
}
.card3 {
    background-image: url("asset/iotnbo.jpeg");
}
.card4 {
    background-image: url("asset/itaewon.jpg");
}
.card:hover {
    transform: translateY(-10px);
}
.card-inner {
    height: 240px;
    background-size: cover;
    border-radius: 10px;
}
.card p {
    text-shadow: 0 0 15px #999;
    font-size: 11px;
    color: white;
    padding-top: 10px;
}
.card-col{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* media queries for responsive design */

@media screen and (max-width: 768px) {
    body {
        max-width: 100%;
        height: auto;
        padding: 1vw;
    }
    .card {
        padding: 1vw;
        display: block;
        margin-top: 100px;
        max-width: 100%;
    }
    nav ul li {
        display: block;
        font-size: 25px;
    }
    .card p {
        color: black;
        padding: 1vw;
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

@media screen and (max-width: 1248px) {
    .card {
        padding: 15px;
        margin: auto;
        height: auto;
        max-width: 100%;
    }
    nav {
        display: block;
        padding: 1vw;
        float: left;
    }
    .card img {
        height: 150px;
        padding: 5vw;
    }
    .card p {
        font-size: 1.2rem;
        line-height: 1.5;
        color: white;
        padding: 1vw;
    }
    .card-inner h5 {
        padding: 5px;
    }
    .card1, .card2, .card3, .card4{
        background-size: cover;
        background-repeat: inherit;
        border-radius: 10px;
        height: 300px;
    }
} 

@media screen and (max-width: 400px) {
    .container{
        height: auto;
    }
    .card {
        flex-direction: column;
        padding: 3vw;
        margin-top: 25px;
        max-width: 100%;
    }
    .row {
        display: block;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        height: max-content;
        align-items: flex-start;
    }
    nav ul li{
        margin-left: 0px;
        text-align: left;
    }
    .card-inner {
        height: 200px;
    }
    .card-inner h5 {
        padding: 5px;
    }
    .card p {
        color: white;
    }
    .card1, .card2, .card3, .card4{
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        height: 340px;
    }
}

