{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Life | Rania Devina</title>
    <link rel="stylesheet" href="{% static 'campus.css' %}">
    <link rel="icon" type="image/png" href="{% static 'asset/RD.png' %}">

</head>
<body>
    <div class="wrapper">
        <nav>
            <div class="logo">
                <img src="static/asset/mylogo.png" alt="Rania's Logo">
            </div>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/index">About</a></li>
                <li><a href="/interest">Interests</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">
        <div class="gallery">
            <img src="static/asset/satu.jpg" alt="satu">
                <div class="desc">Ini adalah foto dengan kedua Vice Project Officer di acara
                    OH Fasilkom UI 2020. Foto ini diambil di belalai gedung lama ^^
                </div>
        </div>

        <div class="gallery">
            <img src="static/asset/dua.jpg" alt="dua">
                <div class="desc">Di awal masuk Fasilkom, ada Parade untuk menyambut
                    OLIM, OIM, dan UIAW. Kita menyanyikan yel-yel Fasilkom
                </div>
        </div>
            
        <div class="gallery">
            <img src="static/asset/tiga.jpg" alt="tiga">
                <div class="desc">Setelah dilaksanakannya Momen Kekerabatan, kami langsung menuju
                    Jazz Goes To Campus yang diselenggarakan FEB UI
                </div>
        </div>
        
        <div class="gallery">
            <img src="static/asset/empat.jpg" alt="empat">
                <div class="desc">Ini adalah salah satu foto pertama maungmeong, yaitu saat hari ketiga PSAF 
                    di gedung baru.
                </div>
        </div>
        
        <div class="gallery">
            <img src="static/asset/lima.jpg" alt="lima">
                <div class="desc">Foto paling dinanti-nantikan oleh mahasiswa baru, yaitu berpose
                    di depan Gedung Rektorat UI menggunakan jakun
                </div>
        </div>
        
        <div class="gallery">
            <img src="static/asset/enam.jpg" alt="enam">
                <div class="desc">Maungmeong ((rada glow up)) version karena ini diambil saat selesai 
                    UAS semester pertama di Fasilkom.
                </div>
        </div>
            
    </div>
    <footer>
        Copyright © 2020 Rania Devina Nandini
    </footer>
</body>
</html>