{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Rania Devina</title>
    <link rel="stylesheet" type="text/css" href="{% static 'cover.css' %}">
    <link rel="icon" type="image/png" href="{% static 'asset/RD.png' %}">

</head>
<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="{% static 'asset/mylogo.png' %}" alt="Rania's Logo">
            </div>
            <nav>
                <a href="/interest">INTERESTS</a>
                <a href="/campus">CAMPUS LIFE</a>
            </nav>
        </div>
        <div class="welcometext">
            <h1>Rania Devina Nandini</h1>
            <h2>Information System student @ Universitas Indonesia</h2>
            <a href="/index">About Me</a>
        </div>
    </header>
</body>
</html>