{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Rania Devina</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'asset/RD.png' %}">

</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="judul">Get to know me!</h1>
            <ul>
                <li><a href="https://instagram.com/raniadevina" target="_blank">Instagram</a></li>
                <li><a href="https://twitter.com/runniaaa" target="_blank">Twitter</a></li>
                <li><a href="https://oh.cs.ui.ac.id/" target="_blank">Project</a></li>
                <li><a href="https://linkedin.com/in/raniadevinanandini" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
        <div class="hero"></div>
        <div class="content">
            <h2>Tentang Diri Saya</h2>
            <p class="penulis">Ditulis oleh <a href="https://instagram.com/raniadevina">raniadevina</a> pada 14 September 2020</p>

            <p>Saya adalah mahasiswi tahun kedua di Fakultas Ilmu Komputer, Universitas Indonesia. Saya lahir pada tanggal
                5 Juli 2001, tepatnya di hari Kamis. Saya
                Merupakan anak pertama dari 3 bersaudara. Dalam kehidupan sehari-hari, saya adalah orang
                yang suka berbicara, fast-respon, dan ingin belajar banyak hal baru selama menempuh
                pendidikan di jurusan Sistem Informasi ini. <br><br> Di Fasilkom, sudah banyak kepanitiaan yang Saya jalani. 
                Beberapa kepanitiaan adalah PERAK, COMPFEST, dan saya juga menjadi staff dari BEM Fasilkom UI biro
                Hubungan Masyarakat. Selain itu, saat ini saya sedang mengemban tugas menjadi Project Officer dari acara tahunan
                Open House Fasilkom UI 2020. Karena pandemi COVID-19, kali ini Open House akan dilaksanakan secara online. 
            </p>

            <p>
                Berikut adalah riwayat pendidikan saya: <br>
                <ul>
                    <li>SMP Al-Izhar Pondok Labu</li>
                    <li>SMAN 34 Jakarta</li>
                    <li>Fakultas Ilmu Komputer, Universitas Indonesia</li>
                </ul>
            </p>

            <p>
                Selain itu, saya juga memiliki banyak hobi, yaitu:
                <ul>
                    <li>Memasak</li>
                    <li>Membaca novel</li>
                    <li>Menonton serial drama korea favorit</li>
                    <li>Bermain piano</li>
                    <li>Berolahraga pagi</li>
                </ul>
            </p>
            <div class="flex-container">
                <h3>
                    <a href="/">BACK TO HOME</a>
                </h3>
            </div>
        </div>
        <div class="footer">
            <p>Copyright © 2020 Rania Devina Nandini  |  E-mail: rania.devina@ui.ac.id</p>
        </div>
    </div>

</body>
</html>